html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #363538;
    font-size: 16px;
    background: rgb(232,232,237);
    background: linear-gradient(90deg, rgba(232,232,237,1) 0%, rgba(244,244,244,1) 50%, rgba(232,232,237,1) 100%);
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #0E1111
  }
  i {
    margin-right: 10px;

  }

  i:hover,a:hover{
    color: #669999;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
    max-width: 700px;
    margin: 0 auto;
}

main{
  margin: 0 20px;
} 
section{
    margin: 16px 0;
}
h1 {
    color: #669999;
    font-size: 30px;
    font-weight: 900;
    padding: 15px 0;
}
h2{
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 0;
    letter-spacing: 6px;
    color: #669999;
}

.category {
    position: relative;
    margin-bottom: 10px;
}

.category:before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 5px;
    width: 10%;
    border-bottom: 3px solid #669999;
  }

h3{
    font-weight: 400;
    color: #669999;
}
ul {
    padding: 5px;
    margin: 0 16px;
    list-style-type: circle;
}

li {
    margin: 10px 0;
}

#skills {
margin: 25px 0;
padding: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 5px;
}

.btn-skills{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 16px;
  background-color: #ddd;
  cursor: pointer;
  border: 1px solid #666;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #666;
  color: white;
  border: none;
} 

.btn:focus {
  background-color: #666;
  color: white;
}


#skills>li {
    padding: 5px;
    margin: 0;
    border: 1px solid #669999;
    background-color: #669999;
    color: white;
    border-radius: 5px;
}
#socials-list {
    display: flex;
    justify-content: space-between;
}

.title-box {
    display: flex;
    align-items: baseline;
}

.title-box>h3 {
    margin-right: 10px;
}
 
@media (max-width: 600px) {
#socials-list{
  flex-direction: column;
  gap: 5px;
}
.btn-skills {
  gap: 5px;
}
.btn {
  padding: 5px 10px
}

}